<!doctype html>
<html>
    <head>
        <title>CFS Questionnaire Control</title>
    </head>
    <body>
        <h2>Questionnaire Editor</h2>
        <h4>Department: {{ department }}</h4>
        <h4>Title: {{ title }}</h4>
        <form action="/add-question" method="post" id="question_form">
            <h5>Question Registry</h5>
            <input name="questionnaire_id" value="{{ questionnaire_id }}" />
            <textarea name="new_question"></textarea><br />
            <div>
                <input
                    type="radio"
                    id="mc"
                    name="question_type"
                    value="Multiple Choice"
                />
                <label for="mc">Multiple Choice</label><br />
                <input
                    type="radio"
                    id="ls"
                    name="question_type"
                    value="Likert Scale"
                />
                <label for="ls">Likert Scale</label><br />
                <input
                    type="radio"
                    id="rate"
                    name="question_type"
                    value="Ratings"
                />
                <label for="rate">Ratings</label><br />
                <input
                    type="radio"
                    id="oe"
                    name="question_type"
                    value="Open-Ended"
                />
                <label for="oe">Open-Ended</label><br />
            </div>
            <div id="choices">
                <div id="multiple_choice">
                    <input type="text" name="choice[]" /><button
                        id="_choice1"
                        type="button"
                        onclick="removeInput(this.id)"
                    >
                        -</button
                    ><br />
                    <input type="text" name="choice[]" /><button
                        id="_choice2"
                        type="button"
                        onclick="removeInput(this.id)"
                    >
                        -</button
                    ><br />
                    <input type="text" name="choice[]" /><button
                        id="_choice3"
                        type="button"
                        onclick="removeInput(this.id)"
                    >
                        -</button
                    ><br />
                    <input type="text" name="choice[]" /><button
                        id="_choice4"
                        type="button"
                        onclick="removeInput(this.id)"
                    >
                        -</button
                    ><br />
                </div>
                <button type="button" onclick="addChoice()">Add Choices</button>
            </div>
            <br />
            <button type="submit">Add Question</button>
        </form>
        <form action="/edit-question" method="post">
            <h5>Question Editor</h5>
            <input value="{{ questionnaire_id }}" />
            <ol>
                {% for question in questions %}
                <li>
                    <input type="hidden" value="{{ question[0] }}" />
                    <textarea>{{ question[1] }}</textarea>
                    {% for qSet in question[2] %}
                    <ul>
                        <li>{{ qSet }}</li>
                    </ul>
                    {% endfor %}
                </li>
                {% endfor %}
            </ol>
            <button type="submit">Confirm</button>
        </form>

        <script>
            function addChoice() {
                const container = document.getElementById("multiple_choice");
                const newInput = document.createElement("input");
                newInput.setAttribute("type", "text");
                const numInputs =
                    container.getElementsByTagName("input").length;
                newInput.setAttribute("id", `choice${numInputs + 1}`);
                newInput.setAttribute("name", "choice[]");
                const newButton = document.createElement("button");
                newButton.setAttribute("type", "button");
                newButton.setAttribute("id", `_choice${numInputs + 1}`);
                newButton.setAttribute("onclick", "removeInput(this.id)");
                newButton.textContent = "-";
                container.appendChild(newInput);
                container.appendChild(newButton);
                container.appendChild(document.createElement("br"));
            }

            function removeInput(elemId) {
                const buttonClicked = document.getElementById(elemId);
                const inputToRemove = buttonClicked.previousElementSibling;
                const brToRemove = buttonClicked.nextElementSibling;
                inputToRemove.remove();
                brToRemove.remove();
                buttonClicked.remove();
            }

            const questionTypeRadio = document.querySelectorAll(
                'input[name="question_type"]',
            );
            const choicesDiv = document.getElementById("choices");

            questionTypeRadio.forEach((radio) => {
                radio.addEventListener("change", function () {
                    if (this.value === "Multiple Choice") {
                        choicesDiv.style.display = "block"; // Show choices for multiple choice
                    } else {
                        choicesDiv.style.display = "none"; // Hide choices for other types
                    }
                });
            });
        </script>
    </body>
</html>
