<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Test Site</h2>
    <form action="/insert" method="post">
        <h5>Admin Insert</h5>
        <input name="fullname" placeholder="Full Name"/>
        <input name="username" placeholder="Username" />
        <input name="password" placeholder="Password" />
        <button type="submit">Insert</button>
    </form>
    <form action="/insert-dept" method="post">
        <h5>Office Head Insert</h5>
        <input name="fullname" placeholder="Full Name"/>
        <select name="department">
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <input name="username" placeholder="Username" />
        <input name="password" placeholder="Password" />
        <button type="submit">Insert</button>
    </form>
    <form>
    </form>
    <form action="/show" method="post">
        <h5>Data Preview</h5>
        <button type="submit">Show Data</button>
    </form>
    <form action="/delete_all" method="post">
        <h5>Clear Data</h5>
        <button type="submit">Delete All</button>
    </form>
    <form action="/login" method="POST">
        <h5>Admin Login</h5>
        <input placeholder="Username" name="username"/>
        <input type="password" placeholder="Password" name="password"/>
        <button type="submit">Login</button>
    </form>
    <form action="/verify_oh" method="post">
        <h5>Office Head</h5>
        <select name="department">
            <!--Logic to show all departments-->
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <input type="password" name="ohpass" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
    <form action="/add-dept" method="post">
        <h5>Department Registry</h5>
        <input name="dept-name" placeholder="Department"/>
        <select name="dept-type">
            <option value="service">Service Office</option>
            <option value="academic">Academic Office</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <form action="/add-student" method="post">
        <h5>Student Registry</h5>
        <input name="student_id" placeholder="Student ID"/>
        <select name="student_dept">
            {% for options in optionUnit %}
                <option value="{{ options }}">{{ options }}</option>
            {% endfor %}
        </select>
        <input name="student_pass" placeholder="Password"/>
        <input name="student_cpass" placeholder="Confirm Password"/>
        <button type="submit">Sign Up</button>
    </form>
    <form action="/student-login" method="post">
        <h5>Student Login</h5>
        <input name="student-signin" placeholder="Student ID"/>
        <input name="student-pass" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
    <script src="main.js"></script>
    <form action="/add-employee" method="post">
        <h5>Employee Registry</h5>
        <input name="employee_id" placeholder="Employee ID"/>
        <select name="employee_dept">
            {% for options in optionAll %}
                <option value="{{ options }}">{{ options }}</option>
            {% endfor %}
        </select>
        <input name="employee_pass" placeholder="Password"/>
        <input name="employee_cpass" placeholder="Confirm Password"/>
        <button type="submit">Sign Up</button>
    </form>
    <form action="/employee-login" method="post">
        <h5>Employee Login</h5>
        <input name="employee-signin" placeholder="Employee ID"/>
        <input name="employee-pass" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
    <form action="/add-type" method="post">
        <h5>Client Type Registry</h5>
        <input name="type_input" placeholder="Client Type"/>
        <button type="submit">Add</button>
    </form>
    <form action="/client-login" method="post">
        <h5>Client Login</h5>
        <input name="client_name" placeholder="Name"/>
        <input name="client_addr" placeholder="Address"/>
        <select name="client_type">
            {% for clientType in clientTypes %}
                <option value="{{ clientType }}">{{ clientType }}</option>
            {% endfor %}
        </select>
        <button type="submit">Login</button>
    </form>
</body>
</html>
