<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Test Site</h2>
    <form action="/insert" method="post">
        <h5>Admin Insert</h5>
        <input name="fullname" placeholder="Full Name"/>
        <input name="username" placeholder="Username" />
        <input name="password" placeholder="Password" />
        <button type="submit">Insert</button>
    </form>
    <form action="/insert-dept" method="post">
        <h5>Office Head Insert</h5>
        <input name="fullname" placeholder="Full Name"/>
        <select name="department">
            <option value="ossd">OSSD</option>
            <option value="library">Library</option>
            <option value="registrar">Registrar</option>
        </select>
        <input name="username" placeholder="Username" />
        <input name="password" placeholder="Password" />
        <button type="submit">Insert</button>
    </form>
    <form action="/show" method="post">
        <h5>Data Preview</h5>
        <button type="submit">Show Data</button>
    </form>
    <form action="/delete_all" method="post">
        <h5>Clear Data</h5>
        <button type="submit">Delete All</button>
    </form>
    <form action="/go_login" method="get">
        <h5>Admin Login</h5>
        <button type="submit">Login</button>
    </form>
    <form action="/oh_login" method="get">
        <h5>Office Head Login</h5>
        <button type="submit">Login</button>
    </form>
    
    <script src="main.js"></script>
</body>
</html>
