<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <form action="/verify_oh" method="post">
            <select name="department">
                <!--Logic to show all departments-->
                {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <input type="password" name="ohpass" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
