/* * {
  
   border: 1px solid red;
  } */
  
  body{
    overflow:hidden;
    background-color: white;
  }


 .shadow-maroon {
  box-shadow: 0 4px 6px -1px rgba(128, 0, 0, 0.9), 0 2px 4px -1px rgba(128, 0, 0, 0.8);
}

plasmo-csui {
  display: none; /* or other display rules */
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px); 
}

  





